<tbody>
<tr>
    <td *ngFor="let day of week">
      <app-calendar-day [dayDetails]="day"
                        (deleteEvent)="handleDeleteEvent($event)"
                        (addEvent)="handleAddEvent($event)"
                        (editEvent)="handleEditEvent($event)"
      ></app-calendar-day>
    </td>
</tr>
</tbody>
