<div class="modal">
  <div class="modal__close"><button (click)="handleCloseModal()">close modal</button></div>
  <form [formGroup]="modalForm">
    <div>
      <button [ngClass]="isHoliday ? '' : 'selected'" (click)="isHoliday = false">work day</button>
      <button [ngClass]="isHoliday ? 'selected' : ''" (click)="isHoliday = true">holiday</button>
    </div>
    <div [ngClass]="isAddingMode ? '' : 'disabled'">
      Period:
      <input type="radio" [value]="Periods.Once" formControlName="period">Once
      <input type="radio" [value]="Periods.Daily" formControlName="period">Daily
      <input type="radio" [value]="Periods.Weekly" formControlName="period">Weekly
    </div>
    <div>
      <input type="text" formControlName="name" >
    </div>
    <div>
      <input type="time" formControlName="startDateTime">
      <input type="time" formControlName="endDateTime">
    </div>

    <div>
      <input type="date" formControlName="date">
    </div>
    <button type="button" (click)="onSubmit()" [disabled]="modalForm.invalid">Submit</button>
    <span class="error" *ngIf="modalForm.invalid">
            All inputs are required, min length of the name is 3 characters and max length is 10 characters
       </span>
  </form>
</div>
