<div class="day" [ngClass]="isToday ? 'today' : ''">
  <div class="day__header">
    {{dayDetails?.dayDate?.date()}} {{month}} <button (click)="handleAddEvent()">Add event</button>
  </div>
  <div class="day__events">
    <app-calendar-event
      *ngFor="let event of dayDetails?.events"
      (deleteEvent)="handleDeleteEvent($event)"
      (editEvent)="handleEditEvent($event)"
      [eventDetails]="event"
      [dayDate]="dayDetails?.dayDate"
    ></app-calendar-event>
  </div>
</div>
