:host {
  display: block;
  height: 100%;
}

.day {
  height: 100%;

  &__header {
    margin-bottom: 2px;
  }

  &__events {
    overflow: auto;
    text-align:justify;
    height: 80%;
  }
}

.today {
  background: #b9d5ee;
}
