<div>
  Click to change view:
  <button (click)="changeWeekView(true)">Week View</button>
  <button (click)=changeWeekView(false)>Month View</button>
</div>
<div>
  Click to navigate:
  <button (click)="changeDate(-1)">previous</button>
  <button (click)="changeDate(1)">next</button>
</div>
<div class="date">
  {{month}}, {{year}}
</div>
