<tbody>
<tr *ngFor="let week of weeks">
  <td *ngFor="let day of week">
    <app-calendar-day [dayDetails]="day"
                      (deleteEvent)="handleDeleteEvent($event)"
                      (addEvent)="handleAddEvent($event)"
                      (editEvent)="handleEditEvent($event)"
    ></app-calendar-day></td>
</tr>
</tbody>
