td, th {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  min-width: 100px;
}

table {
  display: grid;
}

tr {
  display: flex;
  width: 100%;
}

tbody, thead {
  display: flex;
}

button, input[type="radio"], input[type="date"], input[type="time"] {
  cursor: pointer;
}
