<app-calendar-bar
  [userInterfaceDate]="userInterfaceMomentDate"
  (changeUserInterfaceDate)="changeDate($event)"
  [(isWeekView)]="isWeekView"
></app-calendar-bar>
<table>
  <thead>
  <tr>
    <th *ngFor="let day of daysOfWeek">{{day}}</th>
  </tr>
  </thead>
  <app-week-view *ngIf="isWeekView"
                 (deleteEvent)="deleteEvent($event)"
                 (addEvent)="openModal($event)"
                 (editEvent)="openModal($event)"
                 [allEvents]="allEvents"
                 [userInterfaceDate]="userInterfaceMomentDate"></app-week-view>
  <app-month-view *ngIf="!isWeekView"
                  (deleteEvent)="deleteEvent($event)"
                  (addEvent)="openModal($event)"
                  (editEvent)="openModal($event)"
                  [allEvents]="allEvents"
                  [userInterfaceDate]="userInterfaceMomentDate"></app-month-view>
</table>
<app-calendar-event-modal
  *ngIf="modalConfig"
  [config]="modalConfig"
  (closeModal)="closeModal()"
  (addEvent)="addEvent($event)"
  (editEvent)="editEvent($event)"
></app-calendar-event-modal>
